name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.25.x"

      - name: Check formatting
        run: make fmtcheck

      - name: Vet
        run: make vet

      - name: Lint
        uses: docker://ghcr.io/morphy2k/revive-action:v2
        with:
          config: revive.toml

      - name: Build
        run: make build

      - name: Test
        run: make test
